#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  margin: 0 auto;
}

li:last-child{
  border: none!important;
}

@media screen and (min-width: 992px) {
  .form-container{
    min-height: calc(100vh - 88px);
  }
}